body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-style: 16px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(236, 227, 227);
  font-weight: bold;
  }
.header-img {
  width: 150px;
}
.nav-links {
  color: gray;
  text-decoration: none;
}
nav > a{
  margin-right: 20px;
}
.home {
  background-color: rgb(236, 227, 227);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 10px;
 
}
.title {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 40px;
}
.btn {
  background-color: rgb(0, 0, 0);
  color:white;
  text-decoration: none;
  padding: 10px 75px;
  border-radius: 8px;
}
.about {
  border-top: 1px solid rgb(236, 227, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  border-bottom: 1px solid rgb(236, 227, 227);
}
.about-text {
  text-align: center;
  width: 650px;
  margin-bottom: 50px;
  margin-top: 0;
 
}
.skills {
  margin-top: 10px;
  border-top: 1px solid rgb(236, 227, 227);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 500px;
}
.skills-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  
}
.skill {
  border: 1px solid rgb(236, 227, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 350px;
  justify-content: center;
}
.skill-img {
width: 100px;
}
.skill-btn {
  padding: 10px 50px;
 }
.skill-btn-box {
margin-top: 20px;
}
.skill-name {
  margin-bottom: 0;
}
.skill-description {
margin-top: 0;
text-align: center;
}